*{
    margin: 0 0;
    padding: 0;
    list-style: none;
    outline: none;
}
a{
    text-decoration: none;

}
.flex{
    display: flex;
}
.j-c{
    justify-content: center;
}
.j-s{
    justify-content:space-between;
}
.a-c{
    align-items:center;
}
.f-r{
    float: right;
}
body, button, input, select, textarea {
    font-size: 12px;
    font-family: "PingFang SC",Arial,"Microsoft YaHei",sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }